<button id="<%= id %>" data-action="<%= action %>" class="<%= global("class").btn.black %> <%= classes %>" form="<%= form %>" type="<%= type ?? "text" %>">
  <span class="bg-inherit block z-10">
    <%= label %>
  </span>
  <%- icons(icon,`absolute transition duration-200 group-hover:relative group-hover:block group-hover:translate-x-0 group-hover:opacity-100 group-hover:scale-100 text-inherit ${iconClass}`) %>
</button>