<!DOCTYPE html>
<html lang="<%=lang %>">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%-css("/css/style.css") %>
  <%- head %>
  <title><%= title %></title>
</head>

<body class="h-dvh flex flex-col <%= bodyClass %>">
  <%- _BlurBg %>
  <%- body %>

  <%- _Scripts_Main %>
</body>

</html>