<title><%= global("appname") %> | <%= tr.login_t?.toUpperCase() %></title>

<body class="justify-center items-center bg-base-200">
  <div class="bg-base-300 absolute left-0 w-1/2 h-full -z-20"></div>
  <div class="mx-auto w-full max-w-[380px] rounded-md p-6 shadow bg-card">
    <div>
      <div class=" flex flex-col items-center">
        <h1 class="text-3xl font-black text-foreground">
          <%= tr.login_t?.toUpperCase() %>
        </h1>
        <%- _AuthTitle() %>
      </div>

      <% 
      // handle redirect
      let submit = routes.login;
      let redirectPath="";
      if(locals.redirect) redirectPath="?redirect="+redirect;
      submit+=redirectPath;
      %>

      <form action="<%= submit %>" method="post" id="login-form" class="flex flex-col gap-3 mt-4 mb-2">

        <%- Input({ name:"email", id:"email", placeholder:tr.email_address, required:true, autocomplete:"username", value: locals.body?.email, icon:"Mail" }) %>


        <%- Input({type:"password", name:"password", id:"password", placeholder:tr.password, autocomplete:"current-password", required:true, icon:"KeyRound"}) %>

        <a href="<%= routes.reset_password %>" class="text-sm text-primary block text-right">
          <%= tr.forgot_password%>
        </a>
      </form>

      <%- Button({label:tr.login,form:"login-form",classes:"w-full bg-primary text-primary-foreground", icon:"ArrowRight", iconClass:"-translate-x-full opacity-0"}) %>


      <span class="text-muted-foreground text-center text-sm flex gap-1 flex-wrap items-center justify-center mt-4">
        <%= tr.no_account %>
        <a href="<%= routes.register+redirectPath %>" class="font-medium text-primary">
          <%= tr.sign_up%>
        </a>
      </span>

      <%- bloc("error-message")%>
      <!-- or <%- _ErrorMessage() %>  -->

    </div>
  </div>

</body>