<body class="justify-center items-center bg-base-200">
  <div class="bg-base-300 absolute left-0 w-1/2 h-full -z-20"></div>
  <div class="mx-auto w-full max-w-[380px] rounded-md p-6 shadow bg-card">
    <h1 class="text-3xl text-center">
      <%= tr.password_reset_title %>
    </h1>
    <form action="<%= routes.reset_password+(locals.id?"/"+locals.id:"") %>" id="form" method="post" class="flex flex-col gap-3 mt-4 mb-4">
      <%- Input({ name:locals.id? "password":"email", placeholder:locals.id?
          tr.password:tr.email_address, required:true, icon:locals.id?"KeyRound":"Mail" }) %>
    </form>
    <%- Button({classes:"w-full bg-primary text-primary-foreground", label:locals.id?tr.password_reset_title: tr.resend_mail,form:"form",type:"submit",icon:"ArrowRight", iconClass:"-translate-x-full opacity-0"}) %>

    <span class="mt-4 text-muted-foreground text-center text-sm flex gap-1 flex-wrap items-center justify-center">
      <%= tr.no_account %>
      <a href="<%= routes.register %>">
        <%= tr.sign_up%>
      </a>
    </span>
  </div>
  <% if (locals.email_sent!=null) { %>
  <div class="bg-error text-white px-4 max-w-max py-1 rounded-full text-xs animate-error mt-4 text-center <%= locals.email_sent ?" bg-success":"bg-error" %>"> <%= locals.message%>
  </div>
  <% } %>

</body>